#divRegistered {
    height: 100px;
    width: 600px;
    background-color: #FDB515;
    color: #003262;
    font-size: 20px;
    display: none;
}

tr {
    height: 40px;
}

.container {
    background-color: #3B7EA1;
    color: #fff;
    margin: 20px auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 600px;
}

form {
    background-color: #003262;
    display: block;
    padding: 15px;
}